<h1>New Product</h1>
<%= form_with(model: @product, url: products_path) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br>

  <%= form.label :price %>
  <%= form.numeric_field :price %><br>

  <div>
    <%= form.label :category_ids, 'Categories' %>
    <% @categories.each do |category| %>
      <div>
        <%= check_box_tag 'product[category_ids][]', category.id, @product.categories.include?(category) %>
        <%= label_tag "product_category_ids_#{category.id}", category.name %>
      </div>
    <% end %>
  </div>

  <%= form.submit 'Create Product' %>
<% end %>
